<!DOCTYPE html>
<html>
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smile | Responsive Bootstrap Ecommerce Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Google Webfont -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/js/vendors/isotope/isotope.css">
    <link rel="stylesheet" href="~/js/vendors/slick/slick.css">
    <link rel="stylesheet" href="~/js/vendors/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/js/vendors/select/jquery.selectBoxIt.css">
    <link rel="stylesheet" href="~/css/subscribe-better.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="~/plugin/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/plugin/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    @RenderSection("styles", false)

</head>
<body>

@await Html.PartialAsync("_Top")
<div class="body">
    @RenderBody()

</div>

@await Html.PartialAsync("_Footer")

<script src="~/js/jquery.js"></script>

<!-- ADDTHIS -->


<script src="~/js/bootstrap.min.js"></script>
<script src="~/plugin/owl-carousel/owl.carousel.min.js"></script>
<script src="~/js/bs-navbar.js"></script>
<script src="~/js/vendors/isotope/isotope.pkgd.js"></script>
<script src="~/js/vendors/slick/slick.min.js"></script>
<script src="~/js/vendors/tweets/tweecool.min.js"></script>
<script src="~/js/vendors/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/js/vendors/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.subscribe-better.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="~/js/vendors/select/jquery.selectBoxIt.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/plugins/summernote/summernote-bs4.min.js"></script>
<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
@RenderSection("scripts", false)
</body>
</html>